<div class="card card-body">
	<h3>Decrypt OTP and Customer Data</h3>
	<form action="/ideas/decryptOtp" method="post">
		<div class="form-group">
			<label for="encpData">Encrypted OTP</label>
			<input type="text" name="encpData" class="form-control">
		</div>
		<div class="form-group">
			<label for="qr">QR</label>
			<input type="text" name="qr" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Decrypt Data</button>
	</form>
</div>