<div class="card card-body">
	<h3>QR code</h3>
	<form action="/ideas/generateotp" method="post">
		<div class="form-group">
			<label for="name">QR Code string</label>
			<input type="text" name="qr" class="form-control" >
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>