<div class="card card-body">
	<h3>Update Password</h3>
	<form action="/users/updatePassword" method="post">
		<div class="form-group">
			<label for="old password">Old Password</label>
			<input type="password" name="oldPassword" class="form-control" require>
		</div>
		<div class="form-group">
			<label for="newPassword">New Password</label>
			<input type="password" name="newPassword" class="form-control" require>
		</div>
		<div class="form-group">
			<label for="newPassword">Repeat New Password</label>
			<input type="password" name="newPassword2" class="form-control" require>
		</div>
		<button type="submit" class="btn btn-primary">Decrypt Data</button>
	</form>
</div>